<span class="table_zakaz_label" style="display:block;">Наименование</span>
<input type="text" class="table_zakaz_ajax_get position_name" value="<%= model.name %>" />
<span class="equipment-collection"></span> 

<p><span class="table_zakaz_label">Количество</span> <input type="text" style="width:70px" class="position_count" value="<%= model.count %>" /> <span class="table_zakaz_label" style="margin-left:40px;">Сумма</span> <input type="text" style="width:150px;" class="position_summ" value="<%= model.summ %>" />
<span class="is_rm"></span> 
<span class="is_serial_numbers"></span> 
<span class="is_po"></span> 
<span class="is_warranty"></span>
</p>
<span class="serial-numbers-collection">
</span>
<a class="copy copy_to_zakaz_table" title="Копировать"></a>
<a class="del delete_to_zakaz_table"></a>