@charset "utf-8";
/* CSS Document */
input:focus {
    outline: none;
}
a img {border:0px; outline:none}
html,body {height:100%; 	background:#ffffff; padding:0px; margin:0px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px; color:#333333; min-width:1003px; width:100%}
body {position:relative;}
table {border-color:none; }

form input {margin:0}

.container {
    height: auto !important;
    margin: auto;
    min-height: 100%;
    width: 100%;
    position: relative;
	width:1170px;
	overflow-x:hidden;
}

.nav {
    display: block;
    float: left;
    left: 0;
    margin: 0 10px 0 0;
    position: relative;
    list-style:none;
}


.nav > li {
    float: left;
    line-height: 20px;
}

.nav > li > a {
    color:#999999;
    float: none;
    padding: 10px 15px;
    text-decoration: none;
    display:block;
}

.nav > li > a:hover {
	background-color: #E5E5E5;
    color: #555555;
}

.navbar_selector {
	width:1px;
	background:#E5E5E5;
	height:40px;
}

nav {
	height:50px;
	background: #fefcea; /* Old browsers */
background: -moz-linear-gradient(top, #fefcea 0%, #f1da36 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefcea), color-stop(100%,#f1da36)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fefcea 0%,#f1da36 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fefcea 0%,#f1da36 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fefcea 0%,#f1da36 100%); /* IE10+ */
background: linear-gradient(to bottom, #fefcea 0%,#f1da36 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */
border-radius:5px;
}

nav a {
	color:#000000;
	font-size:14px;
	display:block;
	float:left;
	height:50px;
	padding:15px 20px 0px 20px;
	text-decoration:none;
}

nav a:hover {
	background:#ffffff
}

.content,#content {
	position:relative;
	margin:15px;
}

.uchet_cart table {
	width:100%;
}

.uchet_cart table .deleted{
	display:none;
}

header {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	z-index:9999;
	background-color: #FAFAFA;
    background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
	background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
    background-repeat: repeat-x;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) inset, 0 1px 10px rgba(0, 0, 0, 0.1);
}

.header_in {
	min-width:1003px;
	max-width:1200px;
	margin:auto;
}

footer {
    height: 66px;
    margin: -67px auto 0;
    position: relative;
    width: 100%;
	border-top:#EEEEEE 1px solid;
}

.h100 {
	height:100px
}

.h10 {
	height:10px
}

.clear {
	clear:both;
}

.mini_title {
	padding:10px 0px 10px 0px;
	font-size:16px;
}

.table_content {
	border-collapse: separate;
    border-color: #DDDDDD;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid solid solid none;
    border-width: 1px;
	border-spacing: 0;
	width:100%;
}

.table_content tr td {
	border-left: 1px solid #DDDDDD;
 	border-top: 1px solid #DDDDDD;
    line-height: 20px;
    padding: 8px;
    text-align: left;
    vertical-align:top
}

.table_content .table_index_title td {
 background-color: #cccccc;
    background-image: linear-gradient(to bottom, #E6E6E6, #CCCCCC);
    background-repeat: repeat-x;
    color: #333333;
    font-weight:700;
}

#table_zakaz {
	border:1px solid #DDDDDD;
	border-bottom:none;
	position:relative;
}

#table_zakaz .table_zakaz_zagl td {
	background:#E6E6E6;
}

.table_zakaz_title {
	background-color: #CCCCCC;
    background-image: linear-gradient(to bottom, #E6E6E6, #CCCCCC);
    background-repeat: repeat-x;
    color: #333333;
    font-weight: 700;
	padding:10px;
}

.table_zakaz_position {
	position:relative;
	padding:10px 50px 10px 50px;
	border:1px solid #ffffff;
	border-bottom:1px solid #000000;
}

.table_zakaz_position:hover {
	background:#F2F2F2;	
}

.table_zakaz_position .del{
	display:block;
	background:url(/public/css/images/delete_24.png) no-repeat;
	width:24px;
	height:24px;
	position:absolute;
	bottom:22px;
	right:50px;
	cursor:pointer;
}

#table_zakaz .add {
	display:block;
	background:url(/public/css/images/add_24.png) no-repeat;
	width:24px;
	height:24px;
	position:absolute;
	bottom:22px;
	right:20px;
	cursor:pointer;	
	z-index:9999;
}

.table_zakaz_position .copy {
	display:block;
	background:url(/public/css/images/kopy24.png) no-repeat;
	width:24px;
	height:24px;
	position:absolute;
	bottom:22px;
	right:80px;
	cursor:pointer;	
	z-index:999;	
}	

.add_for_uchet,.add_pos_for_reg_number,.add_for_uchet_with_serial,.add_for_regnum_with_serial,.add_rm_for_uchet {
	display:block;
	background:url(/public/css/images/add_24.png) no-repeat;
	width:24px;
	height:24px;
}

.delete_for_uchet,.delete_to_reg_number,.spis_rm  {
	display:block;
	background:url(/public/css/images/delete_24.png) no-repeat;
	width:24px;
	height:24px;	
}

.table_zakaz_label {
	font-size:11px;
}

.block_error {
	padding:10px;
	margin:0px 20px;
	background:#FADFDD;
	border:1px solid #B94A48;
	color:#000000;
	border-radius:3px;
	font-size:12px;
}

.buh_doc_label {
	float: left;
    padding-top: 5px;
    text-align: right;
    width:170px;
    font-size:12px;
    padding-right:30px;
}
.table_zakaz_ajax_get {
	width:750px;
}

.zakaz_buh_doc {
	margin:20px 10px 10px 0px;
	padding:10px 10px 10px 10px;
	border-radius:10px;
	background:#FCFCED;
	width:500px;
}

.table_index {
    border-collapse: separate;
    border-color: #DDDDDD;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid solid solid none;
    border-width: 1px;
border-spacing: 0;
width:100%;
box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.table_index tr td {
	border-left: 1px solid #DDDDDD;
 border-top: 1px solid #DDDDDD;
    line-height: 20px;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}

.table_index .table_index_tr_no_title td {
    cursor:pointer;	
}

.table_index tr td:first {
 border: none;	
}

.table_index .table_index_title td {
 background-color: #cccccc;
    background-image: linear-gradient(to bottom, #E6E6E6, #CCCCCC);
    background-repeat: repeat-x;
    color: #333333;
    font-weight:700;
}

.table_index .table_index_tr_prihod td {
	background:#eeeeee;
	color: #9999CC;
}

.bottom_center {
	min-width:1003px;
	max-width:1200px;
	margin:auto;
}

.hover_tr td {
	background:#F2F2F2;
	cursor:pointer;
}

.ui-autocomplete {
max-height: 100px;
overflow-y: auto;
/* prevent horizontal scrollbar */
overflow-x: hidden;
}
/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
height: 100px;
}

 .ui-autocomplete-loading {
background: white url('/public/images/ui-anim_basic_16x16.gif') right center no-repeat;
}

.pagination ul li {
	float:left;
	list-style:none;
}

.pagination .ne_pager li a {
	display:block;
	margin:0px 2px;	
	padding:1px 7px;
	border:1px solid #c0c0c0;
	text-decoration:none;
	color:#555555;
}

.pagination .ne_pager li span {
	display:block;
	margin:0px 5px;	
	padding:1px 7px;
	background: url("images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6;	
	border:1px solid #c0c0c0;
	color:#555555;
}

.pagination .ne_pager li a:hover {
	background: url("images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6;	
}

.pagination ul li span {
	padding:0px 5px;	
}

.pagination .pager li a{
	margin:0px 15px;
}

.pagination .pager .previous a{
	display:block;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 35px solid #E6E6E6;
    border-bottom: 10px solid transparent;
}

.pagination .pager .previous a:hover{
    border-right: 35px solid #EEEEEE;	
}

.pagination .pager .next a{
	display:block;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 35px solid #E6E6E6;
    border-bottom: 10px solid transparent;
}

.pagination .pager .next a:hover{
    border-left: 35px solid #EEEEEE;	
}


.search,#regnum_history {
	border:1px solid #222222;
    color: #555555;
    position:relative;
    border-radius:0px 3px 3px 3px;
    padding:20px;
box-shadow: 5px 5px 5px 1px #c0c0c0; 
}

.search_in {
	height:19px;
	position:absolute;
	top:-34px;
	left:-1px;
	border-color:#222222;
	border-style: solid solid none solid;
    border-width: 1px;
    border-radius:3px 3px 0px 0px;
    background:#222222;
    color:#ffffff;
    padding:7px 20px;	
}

form select,form input[type=text],form input[type=password] {
	background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
 	border-radius: 4px 4px 4px 4px;
    color: #555555;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    padding: 2px 3px;
}

form select {
	height:25px;
}

form select:focus,form input[type=text]:focus,form input[type=password]:focus {
	color:#0088CC;
	border-color:rgba(82, 168, 236, 0.8);
	outline:0;
	outline:thin dotted \9;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
	-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}

form input[type=submit], form button {
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: #BBBBBB #BBBBBB #A2A2A2;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}

form input[type=submit]:hover, form button:hover {
	background-position:0 -10px;
}

input[type=text].datepicker {
 	border-radius: 4px 0px 0px 4px;	
}

span.data_span {
	display:inline-block; 
	background:url(/public/css/images/glyphicons-halflings.png) no-repeat -192px -120px; 
	width:14px;
	height:14px;
}

span.data_span_cont {
	padding:4px;
	border-style:solid solid solid none;
	border-width:1px;
	border-color:#CCCCCC;
    border-radius: 0px 4px 4px 0px;	
}

#confirm_delete {
	display:none;
}

.form-signin {
	text-align:center;
	background-color: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    margin: 0 auto 20px;
    max-width: 300px;
    padding: 19px 29px 29px;
}

.label {
	background-color: #999999;
    color: #FFFFFF;
    display: inline-block;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    padding: 2px 4px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: baseline;
    white-space: nowrap;
    border-radius: 3px 3px 3px 3px;
}

.label-important {
	background-color:#B94A48;
}

.is_po {
	position:absolute;
	top:72px;
	right:215px;
}

.is_warranty {
	position:absolute;
	top:72px;
	right:115px;	
}

.is_serial_numbers {
	position:absolute;
	top:72px;
	right:280px;	
}

.is_rm {
	position:absolute;
	top:72px;
	right:450px;	
}

.is_warranty_div {
	margin-bottom:15px;
}


.is_po_div {
	margin-bottom:15px;
}

.dop_buh_doc {
	position:absolute;
	display:block;
	background:url(/public/css/images/glyphicons-halflings.png) no-repeat -264px -24px;
	width:14px;
	height:14px;
	top:73px;
	right:90px;
}

.order_edit {
	display:block;
	float:left;
	background:url(/public/css/images/glyphicons-halflings.png) no-repeat 0px -72px;
	width:14px;
	height:14px;
	margin-left:5px;
	margin-right:10px;
}

.order_remove {
	display:block;
	float:left;
	background:url(/public/css/images/glyphicons-halflings.png) no-repeat -312px 0px;
	width:14px;
	height:14px;
	cursor:pointer
}

.order_prihod {
	display:block;
	float:left;
	background:url(/public/css/images/glyphicons-halflings.png) no-repeat -264px -24px;
	width:14px;
	height:14px;
	margin-right:10px;
}

.dop_buh_doc_div {
	display:none;
}

.input_prihod {
	position:absolute;
	top:30px;
	left:20px
}

.show_serial_numbers_div {
	display:none;
}

.order_position_serial_numbers,.order_position_serial_numbers_for_update_regnum {
	display:none;
	margin:0px;
	padding:0px;
	position:absolute;
	right:40px;
	top:-24px;
	background:#ffffff;
	border:1px solid #E5E5E5;
	border-radius: 4px 4px 4px 4px;
box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.order_position_serial_numbers li,.order_position_serial_numbers_for_update_regnum li {
	list-style:none;
	margin:0px;
	padding:0px;
}

.order_position_serial_numbers li a,.order_position_serial_numbers_for_update_regnum li a {
	text-decoration:none;
	color:#000000;
	display:block;
	padding:5px 20px;
}

.order_position_serial_numbers li a:hover,.order_position_serial_numbers_for_update_regnum li a:hover {
	background:#EEEEEE;
}

.table_index .spis_rm_tr td {
	background:#EEEEEE;
}

#rm_left_widget {
	float:left; width:55%;
}

#rm_right_widget {
	margin-left:60%;
}

.table_content tr td .edit,
.edit_company,
.table_content tr td .edit_department,
.table_content tr.editing td span,
.editing .company_name_in span
 {
    display: none;
}

.table_content tr.editing td .edit,
.editing .edit_company,
.table_content tr.editing td .edit_department
 {
	display: block;
}

.table_content tr.editing td {
	border-top:1px solid #000000;
	border-bottom:1px solid #000000;
	background:#f2f2f2;
}

.table_content tr.editing td:first-child {
	border-left:1px solid #000000;
}

.table_content tr.editing td:last-child {
	border-right:1px solid #000000;
}


.table_content tr td .save_user {
	display:none;	
	background:url(/public/css/images/glyphicons-halflings.png) no-repeat 0px -72px;
	width:14px;
	height:14px;	
	float:right;
	cursor:pointer
}

.table_content tr.editing td .save_user {
	display:block;
}

#table_zakaz .deleted {
	display:none;
}

.company_name {
	width:300px;
	float:left;
	margin: 0px 20px 20px 0px;
}

.company_name .company_name_in {
	display:block;
	position:relative;
	background:#eeeeee;
	font-weight:bold;
	padding:10px;	
}

.company_name table {
	width:100%;
}

.company_remove {
	display:block;
	position:absolute;
	top:10px;
	right:10px;
	background:url(/public/css/images/glyphicons-halflings.png) no-repeat -312px 0px;
	width:14px;
	height:14px;
	cursor:pointer;
}

.roles_user {
	display:none;
}

#roles .roles_user {
	display:block;
}

.serial-numbers-collection {
	width:359px;
	display:none;
}

.error_view {
	position:fixed;
	width:600px;
	top:40%;
	left:50%;
	margin-left:-300px;
	text-align:center;
	z-index:999;
	background: #FADFDD;
    border: 1px solid #B94A48;
    border-radius: 3px 3px 3px 3px;
    padding:5px 20px;
}

.success_view {
	position:fixed;
	width:600px;
	top:40%;
	left:50%;
	margin-left:-300px;
	text-align:center;
	z-index:999;
	background: #DFF0D8;
    border: 1px solid #468847;
    border-radius: 3px 3px 3px 3px;
    padding:5px 20px;
}

#free_device tbody tr:last-child {
	display:none;
}

#free_device tbody tr td:last-child p {
	text-align:center;
	margin:0px;
	padding:5px 0px;
}	

#free_device tbody tr td:last-child p:hover {
	background:#eeeeee;
	cursor:pointer;
}

#free_device tbody tr:first-child {
	display:table-row;
}

.vspl_div {
	position:absolute;
	left:-220px;
	width:180px;
	font-size:11px;
	padding:10px;
	display:none;
	background:#ffffff;
	border:1px solid #000000;
	border-radius:5px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

#users_table tbody tr td:last-child .del {
    background: url("/public/css/images/delete_24.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    display: none;
    width: 24px;
    height: 24px;
    float:right;
}

#users_table tbody tr:hover td .del {
    display: block;
}

#users_table tbody tr.editing td:last-child .del,
#users_table tbody tr.blocked td:last-child .del
 {
	display:none;
}

#free_device tbody tr:hover td {
	background:#f2f2f2;
}

#free_device tbody tr.table_zakaz_zagl:hover td {
	background:#ffffff;	
}