<div class="search_in">Формирование учетной единицы</div>

<form>
<div class="zakaz_form">
<p><label class="buh_doc_label">Подразделение</label><span id="company_collection"></span></p>
<p><label class="buh_doc_label">Ответственное лицо</label>
<input type="hidden" class="regnum_face_id" value="0" /><input type="text" class="regnum_face" value="<%= face %>" style="width:223px" /></p>
<p><label class="buh_doc_label">Дата ввода в эксплуатацию</label><input type="text" class="regnum_date datepicker" value="<%= date %>" style="width:200px" /><span class="data_span_cont"><span class="data_span"></span></span></p>
<div class="h10"></div>
</div>
<div class="clear"></div>
<div class="uchet_cart">
</div>

<p><input type="submit" value="Сохранить" /></p>
</form>
<div class="h10"></div>