<div class="search">
<div class="search_in">Управление пользователями</div>
<div id="user_form" style="display:none; border:1px solid #c0c0c0; border-radius:3px; position:relative">

</div>
<a style="width:100%; display:block; padding:10px 0px; border-radius:3px; background:#eeeeee; text-align:center; cursor:pointer;" id="add_user">Добавить пользователя</a>
<div class="h10"></div>
<table class="table_content" id="users_table" style="width:100%">
<tr class="table_index_title">
<td>Логин</td><td>ФИО</td><td>E-mail</td><td>Дата добавления</td><td>Роли</td>
</tr>
</table>

</div>