<div style="float:left; width:50%">
<p><label class="buh_doc_label">ФИО</label> <input type="text" name="fio" value="<%= fio %>" style="" /></p>
<p><label class="buh_doc_label">Логин</label> <input type="text" name="username" value="<%= username %>" style="" /></p>
<p><label class="buh_doc_label">E-mail</label> <input type="text" name="email" value="<%= email %>" style="" /></p>
<p><label class="buh_doc_label">Пароль</label> <input type="text" name="password" value="<%= password %>" style="" /></p>
<p><label class="buh_doc_label">Подтверждение пароля</label> <input type="text" name="password_confirm" value="<%= password_confirm %>" style="" /></p>
</div>
<div style="margin-left:50%" id="roles">
<p>Роли:</p>
</div>
<div class="clear"></div>
<div style="text-align:center">
<button style="margin:0 auto" id="user_form_button">Добавить</button>
</div>
<div class="h10"></div>
<a style="position:absolute; top:10px; right:10px; background:url('/public/css/images/glyphicons-halflings.png') no-repeat -312px 0; width:14px; height:14px; cursor:pointer" id="close_user_form"></a>